<h1>Your Assigned Patients</h1>

<ul>
  <% assignments.forEach(assign => { %>
    <li style="margin-bottom: 15px;">

      Patient: <strong><%= assign.patient.name %></strong><br>
      Doctor: <%= assign.assigneddoc?.name || "None" %><br>

      <a href="/nurse/medicatimes/<%= assign._id %>">
        View Medication Times
      </a>

    </li>
  <% }) %>
</ul>