<h1>Nurse Dashboard</h1>

<h3>Links</h3>
<ul>
    <li><a href="/nurse/medications">View All Medication Inventory</a></li>
    <li><a href="/nurse/assignments">View Your Assignments</a></li>
    <li><a href="/user/updateaccount">Update Account</a></li>
    </ul>