<h1>Nurse Dashboard</h1>

<h3>Links</h3>
<ul>
    <li><a href="/nurses/medications">View Medications</a></li>
    <li><a href="/nurses/medTimes">View Medication Times</a></li>
    <li><a href="user/updateaccount">Update Account</a></li>
    <li><a href="/nurses/assignments">Assigned Doctors and Patients</a></li>
</ul>