<h1>Medications</h1>
<ul>
  <% medications.forEach(med => { %>
    <li><strong><%= med.name %></strong></li>
    <li><%= med.description %></li>
    <li><%= med.sideEffects %></li>
    <li><%= med.dosage %></li>
    <hr>
  <% }) %>
</ul>
<a href="/nurses/dashboard"></a>