<h1>All Medication Inventory</h1>
<ul>
    <% medications.forEach(med => { %>
        <li><strong><%= med.name %></strong></li>
        <li>Description: <%= med.description %></li>
        <li>Side Effects: <%= med.sideEffects.join(', ') %></li>
        <li>Dosage: <%= med.dosage %></li>
        <hr>
    <% }) %>
</ul>
<a href="/nurse/dashboard">Back to Dashboard</a>