<h1>All Medications</h1>

<ul>
  <% medications.forEach(med => { %>
    <li>
      <strong><%= med.name %></strong><br>
      <%= med.description %><br>
      Dosage: <%= med.dosage %>
      sideEffects: <%= med.sideEffects%>
    </li>
  <% }) %>
</ul>
