<h1>Your Assigned Patients</h1>

<ul>
  <% assignments.forEach(assign => { %>
    <li style="margin-bottom: 15px;">

      Doctor: <strong><%= assign.assigneddoc.name %></strong><br>
      Nurse: <%= assign.assignednurse?.name || "None" %><br>

      <a href="/doctor/medTimes/<%= assign._id %>">
        Create Medication Time
      </a>

    </li>
  <% }) %>
</ul>
