<h1>Patient Dashboard</h1>
<ul>
    <li><a href="/patient/assignment">Assigned Doctor and Nurse</a></li>
    <li><a href="/patient/medicationtimes">Medication Times</a></li>
    <li><a href="/user/updateaccount">Update Account</a></li>
    <li><a href="/api/auth/logout">Logout</a></li>
</ul>