<h1>Prescribe medication times for patient</h1>

<form id="prescribemedtimes">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <label>:
      <input type="text" name="patientid" required >
  </label>
  <button type="submit">Save & Route</button>
</form>

<script>

document.getElementById("patientForm").addEventListener("submit", async (e) => {
    e.preventDefault();

    const Pid = e.target.Pid.value;   
    const csrf = '<%= csrfToken %>';   

    try {
  
        const res = await fetch(`/api/doctor/medicatimes/${Pid}`, {
            method: "GET",
            credentials: "include",
            headers: {
                "CSRF-Token": csrf
            }
        });

        const json = await res.json();
        console.log(json);

        if (res.ok) {
            window.location = "/doctors/crtmedtime";
        } else {
            const err = await res.json();
            alert(err.message || "Invalid ID");
        }

    } catch (err) {
        console.error(err);
        alert("Request failed");
    }
});
</script>
