<h1>Admin Dashboard</h1>

<h3>Links</h3>
<ul>
    <li><a href="/admin/users">View Users</a></li>
    <li><a href="/user/updateaccount">Update Account</a></li>
    <li><a href="/api/auth/logout">Logout</a></li>
</ul>